<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Post</title>
</head>
<link rel="stylesheet" href="./css/style3.css">
 






<body>
  <center>
  <h1>Create New Post</h1>
  <form action="/new-post" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="thumbnail" placeholder="Thumbnail URL" required>
    <textarea name="content" placeholder="Content" required></textarea>
    <button type="submit">Post</button>
  </form>


<script type="text/javascript">
	atOptions = {
		'key' : '6b94d740d372c9fea7dd2281bd810d56',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/6b94d740d372c9fea7dd2281bd810d56/invoke.js"></script>
  </center>

</body>
</html>
