<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Post</title>
</head>
<link rel="stylesheet" href="./css/style3.css">
 






<body>
  <center>
  <h1>Create New Post</h1>
  <form action="/new-post" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="thumbnail" placeholder="Thumbnail URL" required>
    <textarea name="content" placeholder="Content" required></textarea>
    <button type="submit">Post</button>
  </form>
  </center>
</body>
</html>
